<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title >{% block title %}心居客网{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/xinkujemain.css">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    {% block css %} {% endblock %}
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default"  >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">心居客网</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
{#        <li class="active"><a >陕西省<span class="sr-only">(current)</span></a></li>#}
      </ul>
      <form action="/house/search/" method="get" class="navbar-form navbar-left" style="margin-left: 300px;">
        <div class="form-group">
          <input type="text" class="form-control" name="keyword" placeholder="输入关键字">
        </div>
        <button type="submit" class="btn btn-warning">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
                    {% if request.session.user_name|default:'' != '' %}
                        <li><a>欢迎您:{{request.session.user_name}}</a></li>
                        <li> <img width="40" height="40" class="img-circle" style="margin-top: 2px;"
                             src="{{ request.session.user_cover}}"></li>

                        <li style="";><a href="/user/logout/"> 注销</a></li>



                        <li><a href="/user/info/">用户中心</a></li>

                        <li><a href="/user/marked/">我的收藏</a></li>

                        <li><a href="/order/myorder/">我的预约</a></li>
                {% else %}
                        <li><a href="/user/login/">登录</a></li>

                        <li><a href="/user/register/">注册</a></li>
                    {% endif %}
			</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--内容-->
<div class="container" style="width: 1300px;height:auto;">
    {% block content %}

    {% endblock %}
</div>
<!--底部-->


<div class="footer" style="padding: 10px;">
            <p>CopyRight © 2018 西安心居客技术有限公司 All Rights Reserved</p>
		    <p>电话：029-****888    陕ICP备*******8号</p>
	</div>

<script type="text/javascript" src="{% static 'base/js/jquery.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'base/js/bootstrap.min.js' %}" ></script>
{% block js %} {% endblock %}
</body>
</html>
